.footer
    margin-top: 90px
    border-top: 1px solid #f3f3f3
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__content
        margin-top: 43px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: flex-start
        padding-bottom: 35px
        border-bottom: 1px solid #f3f3f3
        h5
            @include font('Montserrat', 700, 15px)
            text-transform: uppercase
            padding-bottom: 10px
        p
            @include font('Roboto', 400, 14px)
            color: #737171
            max-width: 472px
            line-height: 1.8
            a
                text-decoration: none
                color: #737171
                
.footer
    &__link
        padding-left: 80px
    &__legal
        padding-left: 80px
    &__follow
        padding: 0 55px 0 115px
        h5
            padding-bottom: 0px
    &__copyright
        padding: 28px 0
        @include font('Roboto', 400, 14px)
        color: #999999

+r(1600)
    .footer
        &__content
            align-items: flex-start
        &__about
            padding-left: 50px
    .link, .legal, .follow
        padding-left: 40px
           

+r(1024)
    .follow
        display: inline
        text-align: center
        padding: 0 70px 0 10px

+r(900)
    .footer
        &__content
            flex-direction: column
            justify-content: center
            align-items: flex-start
        &__about
            margin-bottom: 50px
        &__link
            margin-bottom: 50px
            padding-left: 50px
        &__legal
            margin-bottom: 50px
            padding-left: 50px
        &__follow
            padding-left: 50px

