.slider 
    // z-index: 9
    overflow: hidden
    position: relative
    position: absolute
    z-index: -1
    ul, li
        padding: 0
        margin: 0
        list-style-type: none
    ul
        width: 9999px
    li
        background: url('../img/slide.jpg') no-repeat
        height: 840px
        width: 1920px
    ul li
        float: left
    ul li:nth-child(2)
        margin-left: 1920px
    ul li:nth-child(3)
        margin-left: 1920px
    .nav
        position: absolute
        left: 155px
        bottom: 50px
        span
            opacity: 0
            background: #fff
            margin: 0 8px 0 0
            width: 16px
            height: 16px
            border-radius: 8px
            cursor: pointer
            overflow: hidden
            display: block
            float: left
            box-shadow: 0 1px 2px #000
        span.on
            background: #2e9419

 