.header
    &__main
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: flex-start
        padding-top: 50px
.logo
    margin: 12px 0px 0 160px
  
.nav
    display: flex
    padding-right: 170px
    &__list
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 15px
        margin-top: 38px
    &__login
        font-family: 'Roboto', sans-serif
        font-weight: 700
        text-transform: uppercase
        font-size: 15px
        margin-top: 38px
    &__item
        display: inline
        padding: 10px 24px
        a
            text-decoration: none
            color: #fff
.is-active
    border: 1px solid #fff
    border-radius: 35px

.nav__list .nav__item:nth-child(3)
    border-right: 1px solid #fff

.header__sell
    max-width: 476px
    color: #fff
    margin-top: 160px
    margin-left: 372px
    h1
        font-family: 'Montserrat', sans-serif
        font-weight: 900
        font-size: 52px
        text-transform: uppercase
        line-height: 1.3
    p
        margin-top: 40px
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 22px

.selling
    margin-top: 58px
    font-size: 16px
    background: url('../img/bg-1.png') round
    width: 210px
    height: 59px
    border-radius: 30px
    color: #fff
    text-transform: uppercase
    opacity: 0.7

.header
    &__slide
        display: flex
        justify-content: flex-end
        align-items: flex-end
        margin: 68px 350px 0 0
    &__prev
        margin-right: 14px
        cursor: pointer
    &__next        
        cursor: pointer
    &__scroll
        display: flex
        justify-content: center
        margin: 15px 0 0 22px
.nav__item:hover
    border: 1px solid #fff
    border-radius: 35px
@media only screen and (max-width: 1600px)
    .header__main
        justify-content: flex-start
    .logo
        margin: 12px 0px 0 100px
    .nav
        padding: 0 0 0 100px 
    .header
        &__sell
            margin-left: 100px
        &__scroll
            margin-left: 0px

@media only screen and (max-width: 1024px)
    .nav:before
        content: "≡"
        font-size: 2em
        color: #fff
        margin-top: -10px
    .nav__list, .nav__item
        display: none
    .nav:hover  .nav__list, .nav:hover .nav__item
        display: flex
        flex-direction: column   
    
    .nav
        display: flex
        flex-direction: column     
        right: 100px
        position: absolute
        &__item
            padding: 5px 12px
            a
                font-size: 25px
                margin: 5px 0
            
        &__list &__item:nth-child(3)
            border-right: none
    .header__slide
        margin-right: 150px

@media only screen and (max-width: 900px)
    .nav
        // padding-right: 0px
        right: 0px
        // justify-content: flex-end
        // flex-direction: row
@media only screen and (max-width: 775px)
    .nav
        left: 30px
        top: 150px
        // margin-right: 50px
        &__item
            a
                font-size: 30px
                margin: 15px 5px
    .nav:hover
        background: #000
        padding-bottom: 20px
        z-index: 1
        opacity: 0.8
        border-radius: 30px
    .nav:before
        font-size: 4em
