<div class="header">    
    <div class="slider">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="header__main">
        <div class="logo">
            <img src="./img/logo.png" alt="spacewolff">
        </div>
        <div class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#">About</a></li>
                <li class="navigation__item"><a href="#">MarketPlace</a></li>
                <li class="navigation__item"><a href="#">Contact</a></li>
            </ul>
            <ul class="navigation__login">
                <li class="navigation__item login"><a href="#">log in</a></li>
                <li class="navigation__item login navigation__is-active"><a href="#">sign up</a></li>
            </ul>
        </div>
    </div>
    <div class="header__sell">
        <h1>crowdsourced ad space</h1>
        <p>A peer-to-peer advertising platform</p>
        <button class="selling">start selling, now</button>
    </div>
    <div class="header__slide">
        <div class="header__prev" id="prev"></div>
        <div class="header__next" id="next"></div>
    </div>
    <div class="header__scroll">
        <a href="#"><img src="./img/scroll.png" alt="scroll"></a>
    </div>
</div>
