<div class="header">    
    <div class="slider" style="position: absolute; z-index:-1">
        <!--<div class="slide"><img src="../img/slide.jpg" alt=""></div>
        <div class="slide"><img src="../img/slide.jpg" alt=""></div>
        <div class="slide"><img src="../img/slide.jpg" alt=""></div>-->
        <ul>
            <li><img src="../img/slide.jpg" alt=""></li>
            <li><img src="../img/slide.jpg" alt=""></li>
            <li><img src="../img/slide.jpg" alt=""></li>
        </ul>
        <!--<div class="navigation-slide">
                <a href="#" id="prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
                <a href="#" id="next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
        </div> -->
    </div>
    <div class="header__main">
        <div class="logo">
            <img src="./img/logo.png" alt="spacewolff">
        </div>
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#">About</a></li>
                <li class="nav__item"><a href="#">MarketPlace</a></li>
                <li class="nav__item"><a href="#">Contact</a></li>
            </ul>
            <ul class="nav__login">
                <li class="nav__item login"><a href="#">log in</a></li>
                <li class="nav__item login is-active"><a href="#">sign up</a></li>
            </ul>
        </div>
    </div>
    <div class="header__sell">
        <h1>crowdsourced ad space</h1>
        <p>A peer-to-peer advertising platform</p>
        <button class="selling">start selling, now</button>
    </div>
    <div class="header__slide">
        <div class="header__prev" id="prev"><img src="./img/left.png" alt="left"></div>
        <div class="header__next" id="next"><img src="./img/right.png" alt="right"></div>
    </div>
    <div class="header__scroll">
        <a href="#"><img src="./img/scroll.png" alt="scroll"></a>
    </div>
</div>
